@import '../../../css/variables.scss';

.appBar{
    width: 100%;
    height: 46px;

    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;

    display: flex;
    justify-content: center;

    &__navigate{
        width: 820px;
        display: flex;
        justify-content: space-between;
        ul{
            display: flex;
            list-style-type: none;
            margin: 0px;
            li{
                font-size: 15px;
                font-weight: bold;
                line-height: 1;
                padding: 15px 14px 0 4px;
                color: $colorPrimaryFonts;
                cursor: pointer;
                height: 28px;

                &:hover{
                    color: #1c94e0;
                    border-bottom: solid 3px #1c94e0;
                }
            }
            .logo{
                font-size: 25px;
                color: #1c94e0;
                padding-top: 10px;
            }
        }
    }
}