@import './variables.scss';
@import './responsive.scss';
body{
    margin: 0px;
    padding: 0px;
    background-color: #e6ecf0;
    font-family: "Segoe UI",Arial,sans-serif;
}
.btn-edit{
    width: 150px;
    border-radius: 100px;
    border: solid 2px $bgPrimary;
    padding: 5px 10px;
    text-align: center;
    color: $colorSecundayFonts;
    position: absolute;
    bottom: -46px;
    right: 10px;
}