.login{
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 30px;

    &__content{
        max-width: 835px;
        width: 100%;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,0.1);
        box-sizing: border-box;
        padding: 40px;

        .form{
            width: 80%;
            margin: 0 auto;

            input{
                width: 280px;
                box-sizing: border-box;
                padding: 7px;
                border-radius: 3px;
                margin-bottom: 12px;
                border: 1px solid #e6ecf0;  
            }

            .btnLogin{
                background-color: #1da1f2;
                border: 1px solid #1da1f2;
                color: #fff;
                border-radius: 100px;
                box-shadow: none;
                cursor: pointer;
                font-size: 14px;
                font-weight: bold;
                line-height: 20px;
                padding: 6px 16px;
                position: relative;
                text-align: center;

                &:hover{
                    background-color: #006dbf;
                    border: 1px solid #006dbf;
                }
            }
        }
    }
}